@use 'base';

#addPasswordModal {
    padding: 1em;
    position: fixed;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    bottom: 4em;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 60%;
    z-index: 20;
}

.form {
    display: inline;
    margin: 0 auto 0;
}

.form-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.close-button {
    margin-top: 2em;
    margin-right: 2em;
    background-image: url("../images/x-button.svg");
}


#passwordContentInput {
    padding: 0;
    outline: none;
    border-style: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
}


.input-field {
    border: none;
    padding: 0;
    display: inline;
    margin-bottom: 0;
    width: 75%;
    vertical-align: middle;
}

.icon-input-field {
    display: inline;
    border: 1px solid #ccc;
    width: 80%;
    padding: 0;

    .searchFieldIcon {
        display: inline-block;
        border: none;
        width: 30px;
        height: 30px;
        background-image: url("../images/visibility.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        vertical-align: middle;
    }

    .searchFieldIcon:hover {
        background-image: url("../images/visibility-active.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        cursor: pointer;
    }
}
