@use 'base';

#categoryDeletionPopup {
    top: 2%;
    padding: 1em;
    position: absolute;
    margin: 5% auto; /* Will not center vertically and won't work in IE6/7. */
    left: 0;
    right: 0;
    bottom: 28rem;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    width: 35%;
    z-index: 9999;
    transition: all 0.3s linear;
    -webkit-transition: 0.5s;

    .close-button {
        float: right;
        height: 30px;
        width: 30px;
        content: url("../images/x-button.svg");
        position: relative;
        cursor: pointer;
    }
    
    .close-button:hover {
        content: url("../images/x-button-active.svg");
    }
}

a.add-cat-button {
    display: block;
    margin: 1rem auto;
    text-align: center;
    width: 50%;
}

a.add-cat-button:hover {
    color: rgb(36, 85, 233);
    cursor: pointer;
}

#deleteCategoryButton {
    display: inline;
    width: 44%;
}

.form {
    margin: 0 auto;
}

.form-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.warning {
    color: red
}
