@use 'base';

.category-mini {
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 60px;
    margin: 0.5rem;
    z-index: 25;
    position: relative;
    font-size: 13px;
    border: 1px solid #ffffff;
    overflow: hidden;
}

.category-mini:hover {
    border: 1px solid #60b8ff;
    border-radius: 2px;
    cursor: pointer;
}

h3 {
    margin: 0.25rem;
    vertical-align: middle;
}