@use 'base';

.doughnut {
    width: 47.5%;
    border: solid 1px #6480ff;
    padding: 1.5rem;
    min-height: 500px;
    display: block;
    float: left;
}

.stats {
    display: block;
    float: right;
    text-align: left;
    margin: 4rem 3rem 0 0;
}

#good {
    color: #4f6fff;
}

#mal {
    color: #ff6384;
}

#expand-url-form {
    display: block;
    float: right;
    width: 45%;
    border: solid 1px #6480ff;
    margin-right: 1rem;
}
