@use 'base';

.password {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid white;
}

.password:hover {
    border: 1px solid #4b9efd;
    cursor: pointer;
}