@use 'base';

.password {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    border: 1px solid white;
    height: 90px;
}

.close-button {
    float: right;
    height: 15px;
    width: 15px;
    content: url("../images/x-button.svg");
    position: relative;
    cursor: pointer;
}

.close-button:hover {
    content: url("../images/x-button-active.svg");
}

.password-url {
    padding-top: 0.75rem;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.password:hover {
    border: 1px solid #4b9efd;
    cursor: pointer;
}

