@use "base";

.quickstart-view {
  .quickstart-container {
    display: inline-block;
    padding: 0 32% 2rem 32%;
    margin-bottom: 3rem;
  }

  .badge {
    margin: 0rem 1rem 0 0;
  }

  table {
    border-collapse: collapse;
    
  }
  table, tr, th {
    border: 1px solid rgba($color: #b1d0ff, $alpha: 1.0);
    padding: 0.2rem 0.4rem;
  }
  
  h3 {
    margin: 1rem 0;
  }
}
