@use 'base';

#searchField {
    width: 70%;
    margin: 1rem auto 1rem auto;
    display: block;
}

.vault {
    .container{
        margin: 0;
    }
    .spacer {
        height: 50px;
        width: 100%;
    }
}

.modalopen {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.514);
    filter: blur(2px); -webkit-filter: blur(2px);
}